
/*cтилизация предпоследней секции*/
.story-section {
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-for-story,
.container-for-story-card {
    border-top: solid 0.1vw black;
}
.container-for-story h2 {
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    font-size: 3.3vw;
}
.container-for-story-card {
    position: relative;
    width: 49vw;
    height: 49vw;
    border-left: solid 0.1vw black;
}
.container-for-story-card p {
    padding-bottom: 2vw;
}
.container-for-story-card h3 {
    position: absolute;
    z-index: 2;
    font-size: 1.3vw;
    text-align: center;
    word-break: break-word;
    top: 10vw;
    left: 10vw;
    width: 28.6vw;
}
.container-for-story-card img,
.container-for-story,
.container-for-story img {
    width: 49vw;
}


@media (max-width: 960px) {

    /* стилизация предпоследней секции */
    .container-for-story h2 {
        padding-top: 5vw;
        padding-bottom: 5vw;
        font-size: 6vw;
    }
    .container-for-story-card {
        width: 100vw;
        height: 100vw;
        border-left: none;
    }
    .container-for-story-card p {
        padding-bottom: 3.3vw;
    }
    .container-for-story-card h3 {
        width: 60vw;
        height: 60vw;
        font-size: 2.73vw;
        top: 20vw;
        left: 20vw;
    }
    .container-for-story-card img,
    .container-for-story,
    .container-for-story img {
        width: 100vw;
    }
}