/*основные*/
.info-section {
    grid-template-columns: 50% 50%;
}
.left-column,
.right-column {
    display: inline-block;
}
.left-column {
    border-right: solid 0.1vw black;
}
.left-column picture img,
.right-column picture img {
    width: 47vw;
    padding: 1vw;
}
h1 {
    border-bottom: solid 0.1vw black;
    padding: 2vw 4vw;
    font-size: 4.2vw;
    text-align: center;
}

/*адаптив*/
@media (max-width: 960px) {
    .info-section{
        grid-template-columns: 100%;
    }
    .left-column picture img,
    .right-column picture img {
        width: 100vw;
        padding: 1rem 1rem 1rem;
        box-sizing: border-box;
    }
    .left-column {
        border: none;
        margin-top: -2vw;
    }
    h1 {
        border-top: solid 0.1vw black;
        padding: 2rem 3rem;
        font-size: 3rem;
    }
}
@media (max-width: 800px) {
    h1 {
        padding: 1.5rem 2.5rem;
        font-size: 2.22rem;
    }
}
@media (max-width: 600px) {
    h1 {
        padding: 1rem 2rem;
        font-size: 1.67rem;
    }
}
@media (prefers-color-scheme: dark) {
    h1, .left-column {
        border-color: white;
    }
}