/*cтилизация последней секции*/
.bottom-foreign-text {
    width: 98vw;
    position: absolute;
    z-index: 2;
    top: -7vw;
    max-width: 3840px;
}
.decor-section {
    position: relative;
}

@media(max-width: 960px) {
    /*cтилизация последней секции*/
    .bottom-foreign-text {
        width: 100vw;
        top: 4vw;
    }
}