/*основные*/
.container-for-cards {
    justify-content: space-between;
    display: flex;
    width: 98vw;
}
.container-for-products-cards-and-fires {
    width: 98vw;
    height: 50vw;
    display: inline-block;
    position: relative;
}
.products-section-img {
    display: flex;
    width: 96vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
}
.container-for-cards {
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    top: 3vw;
}
.container-for-slogan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    border-top: solid 0.1vw black;
    border-bottom: solid 0.1vw black;
    overflow: hidden;
}.container-for-slogan > * {
     font-size: 2rem;
     margin: 1.8rem;
     text-align: center;
 }
.container-for-slogan img{
    width: 8rem;
}

/*адаптив*/
@media (max-width: 960px) {
    .container-for-products-cards-and-fires {
        width: 100vw;
        overflow: scroll;
        height: 58rem;
    }
    .container-for-cards {
        width: 300vw;
        height: 42rem;
        top: 7rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .products-section-img {
        width: 100vw;
        padding: 0 3vw 3vw;
        box-sizing: border-box;
    }
    .container-for-slogan {
        width: 100vw;
    }
    .container-for-slogan > p {
           margin: 8vw 0;
           font-size: 5.5vw;
       }
    .container-for-slogan > img {
        width: 17vw;
        margin: 3vw;
    }
}
@media (max-width: 760px) {
    .container-for-products-cards-and-fires {
        height: 52rem;
    }
    .container-for-cards {
        width: 330vw;
        margin: 0;
    }
}
@media (max-width: 600px) {
    .container-for-products-cards-and-fires {
        height: 40rem;
    }
    .container-for-cards {
        height: 30rem;
        top: 4rem;
    }
}
@media (prefers-color-scheme: dark) {
    .container-for-slogan img{
        filter: invert(1);
    }
    .container-for-slogan {
        border-color: white;
    }
    .container-for-slogan * {
        color: white;
    }
}