/*основные*/
.running-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    border-top: solid 0.1vw black;
    border-bottom: solid 0.1vw black;
    overflow: hidden;
}
.container-for-items-of-running-line {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
}
#container-for-top-running-line .container-for-items-of-running-line {
    animation: run 9s linear infinite;
}
#container-for-average-running-line .container-for-items-of-running-line {
    animation: run 16s linear infinite;
}
#container-for-bottom-running-line .container-for-items-of-running-line {
    animation: run 50s linear infinite;
}
#container-for-bottom-running-line {
    border-bottom: none;
}
#container-for-top-running-line {
    width: 49vw;
}
.container-for-items-of-running-line img {
    width: 3.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.container-for-items-of-running-line p {
    font-size: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

/*анимации*/
@keyframes run {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-60%);
    }
}

/*адаптив*/
@media (max-width: 960px) {
    #container-for-bottom-running-line, #container-for-average-running-line {
        border-bottom: solid 0.1vw black;
    }
    .running-line, #container-for-top-running-line {
        width: 100vw;
    }
}
@media (prefers-color-scheme: dark) {
    .running-line img {
        filter: invert(1);
    }
    .running-line {
        border-color: white;
    }
    .running-line * {
        color: white;
    }
}
@media(prefers-reduced-motion: reduce) {
    .container-for-items-of-running-line {
        animation: none;
    }
}