/*основные*/
footer {
    border: solid 0.1vw black;
    border-top: none;
    width: 98vw;
    padding-top: 2130px;
    max-width: 3840px;
}
footer address {
    font-style: normal;
    border-top: solid 0.1vw black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    width: 98vw;
    font-size: 2.5rem;
    padding: 2rem;

    max-width: 3840px;
}

/*адаптив*/
@media (max-width: 3840px) {
    footer {
        padding-top: calc(56.8vw - 5.3rem);
    }
}
@media (max-width: 3000px) {
    footer {
        padding-top: calc(56.8vw - 5rem);
    }
    footer address {
        font-size: 2rem;
        padding: 2.3rem;
    }
}
@media (max-width: 2560px) {
    footer {
        padding-top: calc(59vw - 5rem);
    }
    footer address {
        font-size: 1.8rem;
        padding: 2rem;
    }
}
@media (max-width: 1920px) {
    footer {
        padding-top: calc(59.3vw - 4rem);
    }
    footer address {
        font-size: 1rem;
        padding: 1.5rem;
    }
}
@media (max-width: 1280px) {
    footer {
        padding-top: calc(59vw - 3.535rem);
    }
    footer address {
        font-size: 0.8rem;
    }
}
@media (max-width: 960px) {
    footer {
        border: none;
        border-top: solid 0.1vw black;
        padding-top: 54.3vw;
        width: 100vw;
    }
    footer address {
        width: 100vw;
        font-size: 1.5rem;
        padding: 3rem 2rem 2rem;
    }
    footer address p {
        padding-top: 3rem;
        white-space: nowrap;
    }
}
@media (max-width: 860px) {
    footer address {
        font-size: 1.2rem;
    }
}
@media (max-width: 700px) {
    footer address {
        font-size: 1rem;
        padding: 2rem 1rem 1rem;
    }
}
@media (max-width: 600px) {
    footer address {
        font-size: 0.9rem;
        padding: 2rem 0.9rem 0.9rem;
    }
}
@media (prefers-color-scheme: dark) {
    footer {
        background-color: var(--dark-theme);
        border-color: white;
    }
    footer * {
        color: black;
    }
}
