:root {
  --primary: #FB4B4D;
  --secondary: #CDFD3B;
  --primary-font: 'RobotoFont';
  --dark-theme: #3D3669;
  --primary-dark: #B21A1D;
}
* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: var(--primary-font), sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: black;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7vw;
}
body {
  margin-left: 1vw;
  margin-right: 1vw;
}
::-webkit-scrollbar {
    width: 0;
}

/*анимации*/
@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

/*адаптив*/
@media (max-width: 960px) {
  body {
    margin: 0;
  }
  html {
    scroll-padding-top: 17vw;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme);
  }
  .container-for-slogan img{
    filter: invert(1);
  }
  * {
    color: white;
  }
  h3 p{
    color: black;
  }
}