:root {
  --primary: #FB4B4D;
  --secondary: #CDFD3B;
  --primary-font: 'RobotoFont';
  --dark-theme: #3D3669;
  --primary-dark: #B21A1D;
}

* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: var(--primary-font), sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: black;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7vw;
}
body {
  margin-left: 1vw;
  margin-right: 1vw;
}
::-webkit-scrollbar {
    width: 0;
}


/*анимации*/
@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

/*адаптив*/
@media (max-width: 960px) {
  /*общие*/
  body {
    margin: 0;
  }
  html {
    scroll-padding-top: 17vw;
  }

  /*стилизация грид-секций*/
  .info-section,
  .story-section {
    grid-template-columns: 100%;
  }
  .left-column img,
  .right-column img {
    width: 100vw;
    padding: 3vw 3vw 1.8vw;
    box-sizing: border-box;
  }
  .left-column {
    border: none;
  }
  h1 {
    border-top: solid 0.1vw black;
    padding: 4vw 6vw;
    font-size: 7vw;
  }

}

@media (prefers-color-scheme: dark) {
  body,
  main {
    background-color: var(--dark-theme);
  }
  .container-for-bottom-running-line img,
  .container-for-running-line img,
  .container-for-slogan img{
    filter: invert(1);
  }
  * {
    color: white;
  }
  .container-for-product-info > *,
  h3 p{
    color: black;
  }
  main,
  .container-for-running-line,
  .container-for-slogan,
  h1,
  .container-for-bottom-running-line,
  .container-for-story,
  .container-for-story-card,
  .left-column {
    border-color: white;
  }
}

@media(prefers-reduced-motion: reduce) {
  .container-for-items-of-running-line {
    animation: none;
  }
}